<%- include('../layouts/header.ejs') %>

<form action=""></form>
<div class="form-group mb-3">
    <label for="">Name</label>
  <input name="title" type="text" value="<%=product[0].title%>" class="form-control"/>
</div>
<%- include('../layouts/footer.ejs') %>